fastapi==0.110.0
uvicorn==0.27.1
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
python-multipart==0.0.9
pydantic==2.6.1
pydantic-settings==2.1.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.1
supabase==2.3.7
numpy==1.26.4
opencv-python-headless
deepface==0.0.92
tensorflow==2.15.0
tf-keras==2.15.0
mtcnn==0.1.1
gunicorn==21.2.0
python-magic==0.4.27
pillow==10.2.0
ml-dtypes==0.2.0
protobuf==4.25.3
